
.header {
    background-color: rgb(65, 64, 64);
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #444;
  }
  
  .header h1 {
    margin: 0;
    font-size: 24px;
  }
  
  .header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .header nav ul li {
    margin-right: 20px;
  }
  
  .header nav ul li h2 {
    margin: 0;
    font-size: 16px;
  }
  
  .header nav ul li div {
    display: flex;
    align-items: center;
  }
  
  .header nav ul li input[type="file"] {
    margin-right: 10px;
  }
  
  .header nav ul li button {
    background-color: orange;
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .header nav ul li button:hover {
    background-color: darkorange;
  }
  
  .header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  .header nav ul li a:hover {
    text-decoration: underline;
  }
  
  